<div class="my-3">
    <form ngNativeValidate (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" [(ngModel)]="title" name="title" class="form-control" id="title" aria-describedby="title" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" [(ngModel)]="description" name="description" class="form-control" id="description" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>